<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Order has been sent using Jungle. Hang tight! A confirmation will be arriving soon!
    </p>
    <% puts "test" %>
  </body>
</html>
